<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Medical Insurance Claim</title>
    <link rel="stylesheet" href="static/style.css">
</head>
<body>
    <div class="container">
        <nav>
            <a href="home.html">Home</a>
            <a href="_about.html">About</a>
            <a href="_contact.html">Contact Me</a>
        </nav>
        <main>
            <h1>Let's predict</h1>
            <p>The ability to predict the correct claim amount has a significant impact on the insurer's management decisions and financial statements. Hence, the prediction errors may adversely affect the insurer's pricing, potential hurting it profitability.</p>
            <a href="home.html" target="_blank">Make Prediction</a>
        </main>
    </div>
    
</body>
</html>